In [1]:
import pandas as pd
pd.options.mode.chained_assignment = None
df=pd.read_csv(r'C:\Users\Я\Desktop\читы жизнь\Study\Programming\0_Jupyter\students.csv')

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186 entries, 0 to 185
Data columns (total 48 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Age                          186 non-null    int64
 1   Growth                       186 non-null    int64
 2   Shoe size                    186 non-null    int64
 3   Course number                186 non-null    int64
 4   Year of birth                186 non-null    int64
 5   Friend number                186 non-null    int64
 6   Russian rating               186 non-null    int64
 7   Maths rating                 186 non-null    int64
 8   Physics rating               186 non-null    int64
 9   Computer science rating      186 non-null    int64
 10  Chemistry rating             186 non-null    int64
 11  Literature rating            186 non-null    int64
 12  History rating               186 non-null    int64
 13  Geography rating             186 non-null    int64
 14  Biology rating               186 non-null    int64
 15  Foreign language rating      186 non-null    int64
 16  Social science rating        186 non-null    int64
 17  Distance to home km          186 non-null    int64
 18  Minutes to first class       186 non-null    int64
 19  Children number              150 non-null    float64
 20  Removed teeth                148 non-null    float64
 21  Weight                       157 non-null    float64
 22  Glasses                      184 non-null    object
 23  Sex                          186 non-null    object
 24  Problems in last semester    186 non-null    object
 25  Coin                         186 non-null    object
 26  Rock paper scissors          186 non-null    object
 27  Animal                       186 non-null    object
 28  Month of birthday            186 non-null    int64
 29  Your rating in university    186 non-null    object
 30  Fastfood                     186 non-null    object
 31  Height of 5000 mm            186 non-null    int64
 32  Width of 5000 mm             186 non-null    int64
 33  Putin age                    186 non-null    int64
 34  Army                         186 non-null    object
 35  Hostel                       186 non-null    object
 36  Hair length                  186 non-null    float64
 37  Floor number                 186 non-null    int64
 38  Social network duration min  186 non-null    int64
 39  Chocolate                    186 non-null    object
 40  City population              186 non-null    float64
 41  Strange people               186 non-null    object
 42  Your insitute                186 non-null    object
 43  Brother-sister               186 non-null    object
 44  Plane seat                   186 non-null    object
 45  MIddle and index finger      186 non-null    int64
 46  Middle and ring finger       186 non-null    float64
 47  Middle and little finger     186 non-null    float64
dtypes: float64(7), int64(26), object(15)
memory usage: 69.9+ KB

# Удаление всех строк с пустыми значениями
## .dropna()

In [3]:
df1=df.dropna()

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 0 to 185
Data columns (total 48 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Age                          118 non-null    int64
 1   Growth                       118 non-null    int64
 2   Shoe size                    118 non-null    int64
 3   Course number                118 non-null    int64
 4   Year of birth                118 non-null    int64
 5   Friend number                118 non-null    int64
 6   Russian rating               118 non-null    int64
 7   Maths rating                 118 non-null    int64
 8   Physics rating               118 non-null    int64
 9   Computer science rating      118 non-null    int64
 10  Chemistry rating             118 non-null    int64
 11  Literature rating            118 non-null    int64
 12  History rating               118 non-null    int64
 13  Geography rating             118 non-null    int64
 14  Biology rating               118 non-null    int64
 15  Foreign language rating      118 non-null    int64
 16  Social science rating        118 non-null    int64
 17  Distance to home km          118 non-null    int64
 18  Minutes to first class       118 non-null    int64
 19  Children number              118 non-null    float64
 20  Removed teeth                118 non-null    float64
 21  Weight                       118 non-null    float64
 22  Glasses                      118 non-null    object
 23  Sex                          118 non-null    object
 24  Problems in last semester    118 non-null    object
 25  Coin                         118 non-null    object
 26  Rock paper scissors          118 non-null    object
 27  Animal                       118 non-null    object
 28  Month of birthday            118 non-null    int64
 29  Your rating in university    118 non-null    object
 30  Fastfood                     118 non-null    object
 31  Height of 5000 mm            118 non-null    int64
 32  Width of 5000 mm             118 non-null    int64
 33  Putin age                    118 non-null    int64
 34  Army                         118 non-null    object
 35  Hostel                       118 non-null    object
 36  Hair length                  118 non-null    float64
 37  Floor number                 118 non-null    int64
 38  Social network duration min  118 non-null    int64
 39  Chocolate                    118 non-null    object
 40  City population              118 non-null    float64
 41  Strange people               118 non-null    object
 42  Your insitute                118 non-null    object
 43  Brother-sister               118 non-null    object
 44  Plane seat                   118 non-null    object
 45  MIddle and index finger      118 non-null    int64
 46  Middle and ring finger       118 non-null    float64
 47  Middle and little finger     118 non-null    float64
dtypes: float64(7), int64(26), object(15)
memory usage: 45.2+ KB

In [5]:
df1['Weight'].describe()

count    118.000000
mean      65.016949
std       17.874674
min        3.000000
25%       53.250000
50%       62.000000
75%       72.000000
max      120.000000
Name: Weight, dtype: float64

# Заполнение у строк пустых значений 
## .fillna()
## Пример использования: 
                                        .fillna(df['Class'].mean())

In [17]:
df3=df.fillna(df.mean(numeric_only=True))

In [18]:
df3[['Weight']].value_counts()

Weight
64.031847     29
53.000000     10
65.000000      9
60.000000      9
50.000000      7
58.000000      7
64.000000      6
75.000000      6
62.000000      6
70.000000      6
59.000000      6
55.000000      6
46.000000      5
52.000000      5
48.000000      4
57.000000      3
66.000000      3
56.000000      3
68.000000      3
51.000000      3
72.000000      3
92.000000      3
93.000000      2
78.000000      2
85.000000      2
71.000000      2
61.000000      2
95.000000      2
98.000000      2
84.000000      2
54.000000      2
49.000000      2
47.000000      2
100.000000     2
83.000000      2
90.000000      1
89.000000      1
105.000000     1
88.000000      1
115.000000     1
3.000000       1
81.000000      1
80.000000      1
77.000000      1
76.000000      1
73.000000      1
69.000000      1
7.000000       1
63.000000      1
45.000000      1
44.000000      1
43.000000      1
120.000000     1
dtype: int64

# Сброс ограничений на количество информации выводимой на экран в таблице
## pd.set_option()

In [8]:
# Сброс ограничений на количество выводимых рядов
pd.set_option('display.max_rows', None)
 
# Сброс ограничений на число столбцов
pd.set_option('display.max_columns', None)
 
# Сброс ограничений на количество символов в записи
pd.set_option('display.max_colwidth', None)

# Примеры использования .fillna()

In [9]:
df4=df[['Weight','Removed teeth','Children number','Glasses']]
df4=df4.drop([115],axis=0)
df4['Weight']=df['Weight'].fillna(df['Weight'].mean(numeric_only=True))
df4['Removed teeth']=df['Removed teeth'].fillna(df['Removed teeth'].median(numeric_only=True))
df4['Children number']=df['Children number'].fillna(df['Children number'].median(numeric_only=True).round())
df4['Glasses']=df['Glasses'].fillna('да')

In [10]:
df4['Glasses'].value_counts()

нет                                    88
да                                     87
простите. не увидел(а) вопроса ))))    10
Name: Glasses, dtype: int64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186 entries, 0 to 185
Data columns (total 48 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Age                          186 non-null    int64
 1   Growth                       186 non-null    int64
 2   Shoe size                    186 non-null    int64
 3   Course number                186 non-null    int64
 4   Year of birth                186 non-null    int64
 5   Friend number                186 non-null    int64
 6   Russian rating               186 non-null    int64
 7   Maths rating                 186 non-null    int64
 8   Physics rating               186 non-null    int64
 9   Computer science rating      186 non-null    int64
 10  Chemistry rating             186 non-null    int64
 11  Literature rating            186 non-null    int64
 12  History rating               186 non-null    int64
 13  Geography rating             186 non-null    int64
 14  Biology rating               186 non-null    int64
 15  Foreign language rating      186 non-null    int64
 16  Social science rating        186 non-null    int64
 17  Distance to home km          186 non-null    int64
 18  Minutes to first class       186 non-null    int64
 19  Children number              150 non-null    float64
 20  Removed teeth                148 non-null    float64
 21  Weight                       157 non-null    float64
 22  Glasses                      184 non-null    object
 23  Sex                          186 non-null    object
 24  Problems in last semester    186 non-null    object
 25  Coin                         186 non-null    object
 26  Rock paper scissors          186 non-null    object
 27  Animal                       186 non-null    object
 28  Month of birthday            186 non-null    int64
 29  Your rating in university    186 non-null    object
 30  Fastfood                     186 non-null    object
 31  Height of 5000 mm            186 non-null    int64
 32  Width of 5000 mm             186 non-null    int64
 33  Putin age                    186 non-null    int64
 34  Army                         186 non-null    object
 35  Hostel                       186 non-null    object
 36  Hair length                  186 non-null    float64
 37  Floor number                 186 non-null    int64
 38  Social network duration min  186 non-null    int64
 39  Chocolate                    186 non-null    object
 40  City population              186 non-null    float64
 41  Strange people               186 non-null    object
 42  Your insitute                186 non-null    object
 43  Brother-sister               186 non-null    object
 44  Plane seat                   186 non-null    object
 45  MIddle and index finger      186 non-null    int64
 46  Middle and ring finger       186 non-null    float64
 47  Middle and little finger     186 non-null    float64
dtypes: float64(7), int64(26), object(15)
memory usage: 69.9+ KB

### Задание 1
Будем заполнять пропуски в признаке "Вес". Но не просто так. Разобьем нашу таблицу на две таблицы:

females=(все женщины из исходной таблицы)

males=(все мужчины из исходной таблицы)

Далее в таблице females заполните пропуски в столбце "Вес", записав туда средний вес женщин. В таблице males заполните пропуски в столбце "Вес", записав туда средний вес мужчин.

Далее объедините таблицы males и females в одну, запустив код:

df_new=males.append(females)

Далее в таблице df_new подсчитайте средний вес людей. Запишите его в окошко ответа.

In [12]:
df['Sex'].value_counts

<bound method IndexOpsMixin.value_counts of 0      женский
1      мужской
2      мужской
3      женский
4      женский
5      мужской
6      мужской
7      мужской
8      мужской
9      женский
10     женский
11     мужской
12     женский
13     женский
14     мужской
15     женский
16     мужской
17     мужской
18     женский
19     женский
20     мужской
21     женский
22     женский
23     мужской
24     мужской
25     женский
26     женский
27     мужской
28     женский
29     женский
30     мужской
31     женский
32     женский
33     мужской
34     женский
35     мужской
36     мужской
37     женский
38     женский
39     мужской
40     женский
41     женский
42     женский
43     женский
44     мужской
45     мужской
46     мужской
47     женский
48     мужской
49     женский
50     мужской
51     женский
52     женский
53     женский
54     женский
55     мужской
56     женский
57     мужской
58     женский
59     мужской
60     женский
61     мужской
62     мужской
63     женский
64     мужской
65     женский
66     мужской
67     мужской
68     женский
69     мужской
70     женский
71     женский
72     женский
73     мужской
74     женский
75     мужской
76     мужской
77     женский
78     мужской
79     женский
80     женский
81     женский
82     женский
83     мужской
84     мужской
85     женский
86     женский
87     мужской
88     женский
89     женский
90     женский
91     женский
92     мужской
93     мужской
94     женский
95     женский
96     женский
97     женский
98     женский
99     женский
100    женский
101    женский
102    женский
103    мужской
104    мужской
105    мужской
106    мужской
107    мужской
108    женский
109    женский
110    женский
111    женский
112    мужской
113    мужской
114    мужской
115    мужской
116    мужской
117    женский
118    женский
119    женский
120    мужской
121    женский
122    мужской
123    женский
124    женский
125    мужской
126    женский
127    женский
128    мужской
129    женский
130    мужской
131    женский
132    женский
133    мужской
134    женский
135    женский
136    женский
137    женский
138    женский
139    женский
140    мужской
141    женский
142    женский
143    женский
144    женский
145    мужской
146    женский
147    женский
148    женский
149    женский
150    женский
151    мужской
152    женский
153    мужской
154    женский
155    мужской
156    женский
157    мужской
158    женский
159    женский
160    мужской
161    женский
162    женский
163    женский
164    женский
165    женский
166    женский
167    женский
168    женский
169    женский
170    женский
171    женский
172    женский
173    женский
174    женский
175    женский
176    женский
177    женский
178    женский
179    мужской
180    женский
181    женский
182    женский
183    женский
184    женский
185    женский
Name: Sex, dtype: object>

In [13]:
# Создаем две таблицы
df_females=df[df['Sex']=='женский']
df_males=df[df['Sex']=='мужской']
# Заполняем пустые значения средними значениями веса
df_females['Weight']=df_females['Weight'].fillna(df_females['Weight'].mean())
df_males['Weight']=df_males['Weight'].fillna(df_males['Weight'].mean())
# конкатенируем две таблицы в одну
df_new=pd.concat([df_males, df_females])
# выводим результат на экран
print(df_males['Weight'].mean())
print(df_females['Weight'].mean())
print(df_new['Weight'].mean())

71.58064516129032
59.10526315789475
63.53201161071252

## Задание 2
Будем заполнять пропуски в признаке "Желаемое число детей" ("Children number"). Но не просто так. Разобьем нашу таблицу на две таблицы:

singles=(все, у кого нет ни брата ни сестры)

sublings=(все, кто не попал в таблицу singles) Спойлер: для создания таблицы sublings проще вызвать код

sublings=df[df['Brother-sister']!='нет ни брата ни сестры']

(оператор != означает "не равно")

 

Вызовете код 

singles['Children number'].median()

а потом 

sublings['Children number'].median()

и вы поймете как наличие брата/сестhы влияет на желаемой количество детей )))))))

 

Далее в таблице singles заполните пропуски в столбце "Children number", записав туда медианное значение по этой таблице. Аналогично поступите с таблицей sublings. 

 

Далее объедините таблицы singles и sublings в одну, запустив код:

df_new=singles .append(sublings )

Далее в таблице df_new подсчитайте медиану признака "Children number". Запишите его в окошко ответа.

In [14]:
# создадим таблицу людей у которых "нет ни брата ни сестры"

df_singles=df[df['Brother-sister']=='нет ни брата ни сестры']

# создадим таблицу людей для которых "нет ни брата ни сестры" ложь

df_sublings=df[df['Brother-sister']!='нет ни брата ни сестры']

# Вызываем код 

print(df_singles['Children number'].median())

# а потом 

print(df_sublings['Children number'].median())

df_singles['Children number']=df_singles['Children number'].fillna(df_singles['Children number'].median())
df_sublings['Children number']=df_sublings['Children number'].fillna(df_sublings['Children number'].median())

df_new2=pd.concat([df_singles,df_sublings])

print(df_new2['Children number'].median())

1.0
2.0
2.0

In [1]:
from sklearn.cluster import KMeans

In [ ]:
KMeans.