# Изучаем еще что-то

## fadsfsasdf as

In [2]:
import pandas as pd

In [38]:
df=pd.read_csv(r'C:\Users\Я\Desktop\читы жизнь\Study\Programming\0_Jupyter\students.csv',delimiter=',')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186 entries, 0 to 185
Data columns (total 48 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Age                          186 non-null    int64
 1   Growth                       186 non-null    int64
 2   Shoe size                    186 non-null    int64
 3   Course number                186 non-null    int64
 4   Year of birth                186 non-null    int64
 5   Friend number                186 non-null    int64
 6   Russian rating               186 non-null    int64
 7   Maths rating                 186 non-null    int64
 8   Physics rating               186 non-null    int64
 9   Computer science rating      186 non-null    int64
 10  Chemistry rating             186 non-null    int64
 11  Literature rating            186 non-null    int64
 12  History rating               186 non-null    int64
 13  Geography rating             186 non-null    int64
 14  Biology rating               186 non-null    int64
 15  Foreign language rating      186 non-null    int64
 16  Social science rating        186 non-null    int64
 17  Distance to home km          186 non-null    int64
 18  Minutes to first class       186 non-null    int64
 19  Children number              150 non-null    float64
 20  Removed teeth                148 non-null    float64
 21  Weight                       157 non-null    float64
 22  Glasses                      184 non-null    object
 23  Sex                          186 non-null    object
 24  Problems in last semester    186 non-null    object
 25  Coin                         186 non-null    object
 26  Rock paper scissors          186 non-null    object
 27  Animal                       186 non-null    object
 28  Month of birthday            186 non-null    int64
 29  Your rating in university    186 non-null    object
 30  Fastfood                     186 non-null    object
 31  Height of 5000 mm            186 non-null    int64
 32  Width of 5000 mm             186 non-null    int64
 33  Putin age                    186 non-null    int64
 34  Army                         186 non-null    object
 35  Hostel                       186 non-null    object
 36  Hair length                  186 non-null    float64
 37  Floor number                 186 non-null    int64
 38  Social network duration min  186 non-null    int64
 39  Chocolate                    186 non-null    object
 40  City population              186 non-null    float64
 41  Strange people               186 non-null    object
 42  Your insitute                186 non-null    object
 43  Brother-sister               186 non-null    object
 44  Plane seat                   186 non-null    object
 45  MIddle and index finger      186 non-null    int64
 46  Middle and ring finger       186 non-null    float64
 47  Middle and little finger     186 non-null    float64
dtypes: float64(7), int64(26), object(15)
memory usage: 69.9+ KB

In [39]:
df[['Age','Plane seat']]

     Age                       Plane seat
0     20  У окна (пардон: у иллюминатора)
1     22                       В середине
2     21  У окна (пардон: у иллюминатора)
3     19  У окна (пардон: у иллюминатора)
4     23  У окна (пардон: у иллюминатора)
..   ...                              ...
181   23  У окна (пардон: у иллюминатора)
182   19  У окна (пардон: у иллюминатора)
183   18  У окна (пардон: у иллюминатора)
184   19  У окна (пардон: у иллюминатора)
185   18  У окна (пардон: у иллюминатора)

[186 rows x 2 columns]

In [40]:
df['Rock paper scissors'].value_counts()

Ножницы    88
Камень     60
Бумага     38
Name: Rock paper scissors, dtype: int64

In [41]:
df['Weight'].head(10)

0     64.0
1     73.0
2     60.0
3     59.0
4     57.0
5     50.0
6     55.0
7    120.0
8     69.0
9     58.0
Name: Weight, dtype: float64

я хочу чтоб у меня были 3 группы людей
1. люди у которых меньше 10 зубов пропало
2. люди у которых пропало от 11 до 13
3. больше 13

In [42]:
firstLeftTeeth=df[(df['Friend number']<102)]
secondLeftTeeth=df[(df['Friend number']>=11)&(df['Friend number']<=13)]
thirdLeftTeeth=df[df['Friend number']>13]

In [43]:
firstLeftTeeth['Removed teeth']

0      0.0
5      2.0
6      NaN
7      0.0
8      3.0
      ...
177    0.0
179    0.0
182    0.0
183    1.0
184    NaN
Name: Removed teeth, Length: 71, dtype: float64

In [44]:
asdf=df[(df['Age']+df['Year of birth']==2022)|(df['Age']+df['Year of birth'])==2021]
asdf

Empty DataFrame
Columns: [Age, Growth, Shoe size, Course number, Year of birth, Friend number, Russian rating, Maths rating, Physics rating, Computer science rating, Chemistry rating, Literature rating, History rating, Geography rating, Biology rating, Foreign language rating, Social science rating, Distance to home km, Minutes to first class, Children number, Removed teeth, Weight, Glasses, Sex, Problems in last semester, Coin, Rock paper scissors, Animal, Month of birthday, Your rating in university, Fastfood, Height of 5000 mm, Width of 5000 mm, Putin age, Army, Hostel, Hair length, Floor number, Social network duration min, Chocolate, City population, Strange people, Your insitute, Brother-sister, Plane seat, MIddle and index finger, Middle and ring finger, Middle and little finger]
Index: []

[0 rows x 48 columns]

In [80]:
df[df['Growth']<df['Growth'].mean()].shape

(110, 48)

In [46]:
peopleWhoCool=df[df['Age']+df['Year of birth']==2021]
peopleWhoNotCool=df[df['Age']+df['Year of birth']==2022]

In [47]:
peopleWhoCool.shape,peopleWhoNotCool.shape

((81, 48), (102, 48))

In [48]:
summ=peopleWhoCool.shape[0]+peopleWhoNotCool.shape[0]
print(summ)

183

In [49]:
beadPeople=df[(df['Age']+df['Year of birth']!=2021)&(df['Age']+df['Year of birth']!=2022)]

In [50]:
beadPeople

,Age,Growth,Shoe size,Course number,Year of birth,Friend number,Russian rating,Maths rating,Physics rating,Computer science rating,...,Social network duration min,Chocolate,City population,Strange people,Your insitute,Brother-sister,Plane seat,MIddle and index finger,Middle and ring finger,Middle and little finger
35,22,185,44,4,200,87,95,50,0,62,...,100,Сникерс,880000.0,Математический и ИТ,Математический и ИТ,есть сестра,У прохода,5,9.0,25.0
81,55,160,37,7,1960,2000,0,0,0,0,...,300,Милки Вей,800000.0,СоцГум,Математический и ИТ,есть брат,У окна (пардон: у иллюминатора),10,10.0,10.0
142,24,164,37,7,1988,104,76,100,0,0,...,120,Милки Вей,1200000.0,Математический и ИТ,СоцГум,нет ни брата ни сестры,У прохода,10,15.0,24.0

In [51]:
df[['Weight','Growth']]

     Weight  Growth
0      64.0     170
1      73.0     191
2      60.0     172
3      59.0     168
4      57.0     159
..      ...     ...
181    59.0     168
182    43.0     169
183    51.0     161
184    62.0     169
185    54.0     164

[186 rows x 2 columns]

In [52]:
df[df['Weight']==120].Growth

7    180
Name: Growth, dtype: int64

In [53]:
df['Growth'][df['Weight']==df['Weight'].max()]

7    180
Name: Growth, dtype: int64

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186 entries, 0 to 185
Data columns (total 48 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Age                          186 non-null    int64
 1   Growth                       186 non-null    int64
 2   Shoe size                    186 non-null    int64
 3   Course number                186 non-null    int64
 4   Year of birth                186 non-null    int64
 5   Friend number                186 non-null    int64
 6   Russian rating               186 non-null    int64
 7   Maths rating                 186 non-null    int64
 8   Physics rating               186 non-null    int64
 9   Computer science rating      186 non-null    int64
 10  Chemistry rating             186 non-null    int64
 11  Literature rating            186 non-null    int64
 12  History rating               186 non-null    int64
 13  Geography rating             186 non-null    int64
 14  Biology rating               186 non-null    int64
 15  Foreign language rating      186 non-null    int64
 16  Social science rating        186 non-null    int64
 17  Distance to home km          186 non-null    int64
 18  Minutes to first class       186 non-null    int64
 19  Children number              150 non-null    float64
 20  Removed teeth                148 non-null    float64
 21  Weight                       157 non-null    float64
 22  Glasses                      184 non-null    object
 23  Sex                          186 non-null    object
 24  Problems in last semester    186 non-null    object
 25  Coin                         186 non-null    object
 26  Rock paper scissors          186 non-null    object
 27  Animal                       186 non-null    object
 28  Month of birthday            186 non-null    int64
 29  Your rating in university    186 non-null    object
 30  Fastfood                     186 non-null    object
 31  Height of 5000 mm            186 non-null    int64
 32  Width of 5000 mm             186 non-null    int64
 33  Putin age                    186 non-null    int64
 34  Army                         186 non-null    object
 35  Hostel                       186 non-null    object
 36  Hair length                  186 non-null    float64
 37  Floor number                 186 non-null    int64
 38  Social network duration min  186 non-null    int64
 39  Chocolate                    186 non-null    object
 40  City population              186 non-null    float64
 41  Strange people               186 non-null    object
 42  Your insitute                186 non-null    object
 43  Brother-sister               186 non-null    object
 44  Plane seat                   186 non-null    object
 45  MIddle and index finger      186 non-null    int64
 46  Middle and ring finger       186 non-null    float64
 47  Middle and little finger     186 non-null    float64
dtypes: float64(7), int64(26), object(15)
memory usage: 69.9+ KB

In [55]:
df[df['Problems in last semester']=='да'].shape

(27, 48)

In [56]:
df['Army']

0      не призовут (по разным причинам)
1      не призовут (по разным причинам)
2                        могут призвать
3      не призовут (по разным причинам)
4      не призовут (по разным причинам)
                     ...
181    не призовут (по разным причинам)
182    не призовут (по разным причинам)
183    не призовут (по разным причинам)
184    не призовут (по разным причинам)
185    не призовут (по разным причинам)
Name: Army, Length: 186, dtype: object

In [57]:
army_persons=df[df['Army']=='могут призвать']

In [58]:
army_persons['Hair length'].median()

7.0

In [59]:
free_persons=df[df['Army']!='могут призвать']

In [60]:
free_persons['Hair length'].median()

40.0

In [61]:
single_persons=df[df['Friend number']==0].Sex

In [62]:
single_persons

6      мужской
182    женский
Name: Sex, dtype: object

In [63]:
single_persons_SecondChanse = df[['Friend number','Sex']]

In [64]:
single_persons_SecondChanse[single_persons_SecondChanse['Friend number']==0]

     Friend number      Sex
6                0  мужской
182              0  женский

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186 entries, 0 to 185
Data columns (total 48 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Age                          186 non-null    int64
 1   Growth                       186 non-null    int64
 2   Shoe size                    186 non-null    int64
 3   Course number                186 non-null    int64
 4   Year of birth                186 non-null    int64
 5   Friend number                186 non-null    int64
 6   Russian rating               186 non-null    int64
 7   Maths rating                 186 non-null    int64
 8   Physics rating               186 non-null    int64
 9   Computer science rating      186 non-null    int64
 10  Chemistry rating             186 non-null    int64
 11  Literature rating            186 non-null    int64
 12  History rating               186 non-null    int64
 13  Geography rating             186 non-null    int64
 14  Biology rating               186 non-null    int64
 15  Foreign language rating      186 non-null    int64
 16  Social science rating        186 non-null    int64
 17  Distance to home km          186 non-null    int64
 18  Minutes to first class       186 non-null    int64
 19  Children number              150 non-null    float64
 20  Removed teeth                148 non-null    float64
 21  Weight                       157 non-null    float64
 22  Glasses                      184 non-null    object
 23  Sex                          186 non-null    object
 24  Problems in last semester    186 non-null    object
 25  Coin                         186 non-null    object
 26  Rock paper scissors          186 non-null    object
 27  Animal                       186 non-null    object
 28  Month of birthday            186 non-null    int64
 29  Your rating in university    186 non-null    object
 30  Fastfood                     186 non-null    object
 31  Height of 5000 mm            186 non-null    int64
 32  Width of 5000 mm             186 non-null    int64
 33  Putin age                    186 non-null    int64
 34  Army                         186 non-null    object
 35  Hostel                       186 non-null    object
 36  Hair length                  186 non-null    float64
 37  Floor number                 186 non-null    int64
 38  Social network duration min  186 non-null    int64
 39  Chocolate                    186 non-null    object
 40  City population              186 non-null    float64
 41  Strange people               186 non-null    object
 42  Your insitute                186 non-null    object
 43  Brother-sister               186 non-null    object
 44  Plane seat                   186 non-null    object
 45  MIddle and index finger      186 non-null    int64
 46  Middle and ring finger       186 non-null    float64
 47  Middle and little finger     186 non-null    float64
dtypes: float64(7), int64(26), object(15)
memory usage: 69.9+ KB

In [66]:
dog_lovers=df[df['Animal']=='Собак']

In [67]:
dog_lovers[dog_lovers['Floor number']==1]

,Age,Growth,Shoe size,Course number,Year of birth,Friend number,Russian rating,Maths rating,Physics rating,Computer science rating,...,Social network duration min,Chocolate,City population,Strange people,Your insitute,Brother-sister,Plane seat,MIddle and index finger,Middle and ring finger,Middle and little finger
6,18,180,42,0,2004,0,66,4,0,0,...,30,Сникерс,700000.0,Педагогический,Юридический,есть брат,У окна (пардон: у иллюминатора),5,30.0,35.0
26,18,163,36,1,2004,110,98,88,0,88,...,1000,Натс,1000000.0,Математический и ИТ,Математический и ИТ,есть сестра,У окна (пардон: у иллюминатора),10,12.0,35.0
61,18,182,43,2,2003,156,80,82,46,0,...,90,Твикс,970000.0,Педагогический,Математический и ИТ,есть брат,В середине,15,4.0,29.0
72,19,166,41,3,2003,12,87,76,0,83,...,1080,Сникерс,800000.0,Математический и ИТ,Математический и ИТ,есть сестра,У окна (пардон: у иллюминатора),12,12.0,40.0
128,19,182,43,2,2003,50,76,74,0,92,...,120,Твикс,760000.0,Математический и ИТ,Математический и ИТ,есть и брат и сестра,У окна (пардон: у иллюминатора),8,8.0,20.0
153,19,180,44,2,2003,85,94,0,0,0,...,240,Марс,850000.0,Естественный (биология-химия-физика-технари),СоцГум,есть сестра,У окна (пардон: у иллюминатора),16,25.0,40.0
183,18,161,37,2,2003,11,98,0,0,0,...,460,Твикс,1000000.0,Естественный (биология-химия-физика-технари),Другое,есть и брат и сестра,У окна (пардон: у иллюминатора),9,16.0,35.0

In [68]:
single_child=df[df['Brother-sister']=='нет ни брата ни сестры']

In [69]:
not_single_child=df[(df['Brother-sister']=='есть брат')|(df['Brother-sister']=='есть сестра')]

In [70]:
single_child['Social network duration min'].median()

240.0

In [71]:
not_single_child['Social network duration min'].median()

180.0

In [72]:
print(single_child['Social network duration min'].median()-not_single_child['Social network duration min'].median())

60.0

In [73]:
df['Fastfood'].value_counts()

KFC                                                82
Бургер кинг                                        56
Макдональдс (или как он там сейчас называется?)    48
Name: Fastfood, dtype: int64

In [74]:
KFC_persons=df[df['Fastfood']=='KFC']
Burger_persons=df[df['Fastfood']=='Бургер кинг']
Mac_persons=df[df['Fastfood']=='Макдональдс (или как он там сейчас называется?)']

In [75]:
KFC_persons['Weight'].mean(),Burger_persons['Weight'].mean(),Mac_persons['Weight'].mean()

(66.85915492957747, 64.21739130434783, 58.8)

In [76]:
print(KFC_persons['Weight'].mean()-Mac_persons['Weight'].mean())

8.059154929577474

In [77]:
KFC_persons['Weight'].median(),Burger_persons['Weight'].median(),Mac_persons['Weight'].median()

(62.0, 61.5, 58.5)

In [78]:
82+56+48

186